.about {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f4f4f4; 
    flex-wrap: wrap; 
}

.about-sect {
    width: 80%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap; 
}

.about-imag {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.text {
    width: 70%;
    height: auto;
    padding-right: 50px;
    margin-right: 3rem;
    text-align: left; 
}

.about-text {
    font-size: 3rem;
    margin: 2rem 0;
}

.about-text p {
    font-size: 2rem;
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.6;
}

.link-icon {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.link-icon a {
    margin-right: 15px;
    font-size: 40px;
    transition: transform 0.3s ease;
}

.link-icon a:hover {
    transform: scale(1.2); 
}

.git-icon {
    color: black;
    font-size: 35px;
}

.insta-icon {
    color: crimson;
    font-size: 35px;

}

.facebook-icon {
    color: rgb(50, 50, 228);
    font-size: 35px;

}
@media screen and (max-width: 768px) {
    .about {
        flex-direction: column; 
        align-items: center;
        height: auto;
        width: 90%;
        padding: 20px;
        background-color: #e0f7fa; 
    }

    .about-sect {
        flex-direction: column; 
        align-items: center;
        width: 80%;
    }

    .about-imag {
        width: 450px; 
        height: 450px;
        margin-top: 20px;
        align-items: center;
    }

    .text {
        width: 70%; 
        margin-top: 20px;
        text-align: center; 
    }

    .about-text {
        font-size: 2.5rem; 
    }

    .about-text p {
        font-size: 1.5rem; 
    }

    .link-icon {
        justify-content: center;
        margin-top: 20px;
    }

    .link-icon a {
        font-size: 35px; 
    }
}
@media screen and (max-width: 1024px) {
    .about {
        flex-direction: column; 
        padding-bottom: 3rem;
    }

    .about-sect {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .about-imag {
        width: 400px; 
        height: 400px;
    }

    .text {
        width: 80%;
        text-align: center; 
    }

    .about-text {
        font-size: 2.5rem;
    }

    .about-text p {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 480px) {
    .about {
        flex-direction: column;  
        padding: 20px 10px;
    }

    .about-sect {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-imag {
        width: 350px; 
        height: 350px; 
        margin-bottom: 20px;
        padding-right: 70px;
    }

    .text {
        width: 100%; 
        margin-top: 20px;
        text-align: center; 
    }

    .about-text {
        font-size: 2.5rem; 
        margin-top: 20px;
    }

    .about-text p {
        font-size: 1.4rem; 
        font-weight: 400;
        padding: 0 10px;
    }

    .link-icon {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .link-icon a {
        margin-right: 15px;
        font-size: 30px; 
    }
}
