* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 80px;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between; /* Space between logo and the hamburger button */
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.Logo {
  width: 110px;
  height: 80px;
}
.header-1 {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}
.menu-toggle {
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: none; 
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%); 
}
.header-link {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-link li {
  padding: 20px;
  text-align: center;
}

.nav-link {
  color: dodgerblue;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}
.side-navbar {
  width: 50%; 
  height: 100%; 
  position: fixed;
  top: 0;
  left: -50%; 
  transition: left 0.3s ease; 
  background-color: aliceblue;
  padding-top: 80px; 
  z-index: 900;
}
.side-navbar.active {
  left: 0;
}
.side-navbar .header-link {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.side-navbar .header-link li {
  padding: 30px 35px 30px ;
  margin-top: 35px;
}

.side-navbar .nav-link {
  color: dodgerblue;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  padding-left: 40px;
}

.side-navbar .nav-link:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    margin-right: 25px;
    font-size: 35px; 
  }

  .header-link {
    display: none;
  }

  .header-1 {
    justify-content: flex-start;  
  }
  .side-navbar {
    width: 50%; 
  }
  .header{
    padding: 0;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
.Logo{
  width: 90px;
  height: 70px;
}

}
