.hero-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  
  .header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .hero-imag {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .center-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .center-text span {
    color: dodgerblue;
  }
  
  .center-text p {
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .link-icon {
    margin-top: 20px;
  }
  
  .link-icon a {
    margin: 0 10px;
    font-size: 2rem;
    color: black;
    transition: color 0.3s ease;
  }
  
  .link-icon a:hover {
    color: deepskyblue;
  }
  
  .btn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    background-color:dodgerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(94, 165, 236);
  }
  
  @media only screen and (max-width: 1024px) {
    .header-box {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-imag {
      width: 80%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .center-text h1 {
      font-size: 2rem;
    }
  
    .center-text p {
      font-size: 1rem;
    }
  
    .link-icon a {
      font-size: 1.5rem;
    }
  
    .btn {
      font-size: 1rem;
      padding: 8px 25px;
    }
  }
  
  /* Mobile Devices (width < 768px) */
  @media only screen and (max-width: 768px) {
    .hero-sect {
      padding: 40px 10px;
    }
  
    .header-box {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-imag {
      width: 90%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .center-text h1 {
      font-size: 1.8rem;
    }
  
    .center-text p {
      font-size: 1rem;
    }
  
    .link-icon a {
      font-size: 1.5rem;
    }
  
    .btn {
      font-size: 1rem;
      padding: 10px 30px;
    }
  }
  
  /* Small Mobile Devices (width < 480px) */
  @media only screen and (max-width: 480px) {
    .hero-sect {
      padding: 30px 10px;
    }
  
    .hero-imag {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .center-text h1 {
      font-size: 1.6rem;
    }
  
    .center-text p {
      font-size: 0.9rem;
    }
  
    .link-icon a {
      font-size: 1.2rem;
    }
  
    .btn {
      font-size: 0.9rem;
      padding: 8px 20px;
    }
  }
  