/* Hero section styles */
.hero-sect {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 50px;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

/* Hero image styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.hero-imag {
  object-fit: cover;
  width:450px ;
  height: 400px;
  height: auto;
}

/* Centering text */
.center-text {
  width: 600px;
  color: #333;
}

.center-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 10px 0;
}

.center-text span {
  color: #007BFF;
}

.center-text p {
  font-size: 1.2rem;
  margin: 20px 0;
  line-height: 1.5;
}

.link-icon {
  margin: 10px 0;
}

.link-icon a {
  margin: 0 10px;
  color: #333;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.link-icon a:hover {
  transform: scale(1.2);
}

.btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.btn:hover {
  background-color: #e0f7fa;
  color: dodgerblue;
}

/* Media Queries for responsiveness */

/* Tablet and smaller screens */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-top: 50px ;
    width: 90% ;
    height: auto;
  }
  .center-text {
    width: 400px;
  }

  .hero-imag {
    width: 90%;
    height: auto;
    border-radius: 50%;     
  }

  .center-text h1 {
    font-size: 2.5rem;
  }

  .center-text p {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 30px;
  }

  .link-icon a {
    font-size: 1.8rem;
  }
  .hero-sect{
    margin-top: 60px;
    width: 90%;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .hero {
    padding: 10px;
  }

  .hero-imag {
    width: 90%;
    height: auto;
  }

  .center-text h1 {
    font-size: 2rem;
  }

  .center-text p {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 20px;
  }

  .link-icon a {
    font-size: 1.5rem;
  }
}
